body {
  padding: 50px;
  background-color: #eee8d5;
  font-family: sans-serif;
  color: #586e75;
}
#root {
  display: flex;
  justify-content: left;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a, a:visited{
  color: 	#268bd2;
}