.postListMain .theList {
  list-style: none;
  padding-left: 0;
  width: 650px;
}
.postListMain .theList li {
  color: #586e75;
  background-color: #fdf6e3;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  width: 900px;
}

.postListMain button {
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  margin-right: 0px;
  /* background-color: #0066FF; */
  background-color: #268bd2;
  color: #FFF;
  border: 2px solid #268bd2;
}

.postListMain button:hover {
  background-color: #6c71c4;
  border: 2px solid #6c71c4;
  cursor: pointer;
}

.postListMain .button-delete {
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  margin-right: 0px;
  /* background-color: #0066FF; */
  background-color: #dc322f;
  color: #FFF;
  border: 2px solid #dc322f;
}


.postListMain .title {
  color: #268bd2;
  font-size: 25px;
}

.postListMain input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #FFF;
  width: 665px;
}

.postListMain textarea {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #FFF;
  width: 665px;
}

.postListMain select {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #FFF;
  height: 45px;
  width: 165px;
}

.container {
  padding: 1px;
  /* background-color: #eee8d5; */
  /* background-color: #FFF; */
  color: #859900;
  margin: 10px;
  padding: 5px;
  border-radius: 3px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 15px;
  font-size: 12px;
  font-weight: bold;
}

.postListMain .button-vote {
  padding: 10px;
  font-size: 15px;
  margin: 0px;
  margin-right: 0px;
  background-color: #268bd2;
  color: #FFF;
  border: 2px solid #268bd2;
  height: 20px;
  line-height: 0.05;
}

.postListMain .button-vote:hover {
  background-color: #6c71c4;
  border: 2px solid #6c71c4;
  cursor: pointer;

}

.postListMain .page-head {
  font-size: 25px;
  color: #586e75;

}